/* transparency $ Tubi chrome transparency */
html,
body,
#root,
#app,
main,
header,
nav,
footer,
aside,
[class*="Background"],
[class*="Page"],
[class*="Layout"],
[class*="web-app"] {
  background: transparent !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
}

/* darkreader */
:root {
  --darkreader-background-ffffff: transparent !important;
}

/* clear chrome */
header,
nav,
[role="dialog"],
[class*="Modal"] {
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  background-color: rgb(0 0 0 / 10%) !important;
}
